body{
	background-image: url("buildings.jpg");
}

h1{
	color: #4443FF;
	text-align: center;
}

#buttons{
	margin-right: 30px;
	margin-bottom: 30px;
}

#artinfo{
	display: none;
}

#businfo{
	display: none;
}

#compsciinfo{
	display: none;
}

#eduinfo{
	display: none;
}

#enginfo{
	display: none;
}

#envinfo{
	display: none;
}

#lawinfo{
	display: none;
}

#mediainfo{
	display: none;
}

#medinfo{
	display: none;
}

#povinfo{
	display: none;
}